{% extends "admin/base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="section">
    <div class="container">
        {% if room %}
        <h3 class="title">{{room.name}}</h3>
        <input id="room-id" name="content" type="hidden" value="{{room.id}}"/>        
        <p class="category">Logged users</p>

        {% if room.logged_users %}
        <table class="table" id="users">
            <tbody>
            {% for user in room.logged_users %}
            <div class="room">
                <tr>
                    <td>
                        <h6>{{ user }}</h6>
                    </td>
                </tr>
            </div>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="text-primary">No users are currently logged in this room</p> 
        {% endif %}

        <p class="category">New message</p>

        <div class="col-md-4 content-center">
            <input id="send-txt" name="content" type="text" value="" placeholder="Message" class="form-control" />
            <input id="send-btn" type="button" value="Send" class="btn btn-primary btn-round btn-lg btn-block" />
            <p class="text-primary" id = 'message'></p>
        </div>

        <p class="category">Message History</p> 

        <table class="table" id='messages'>
            <tbody>    
            {% for idx, message in messages.items %}
            <div class="message">
                <tr>
                    <td>
                        <h6>{{ message.date|date:'Y-m-d H:i:s' }}</h6>
                    </td>
                    <td>
                        <h6>{{ message.content }}</h6>
                    </td>
                </tr>
            </div>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
        <h3 class="title">No room was provided.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'admin/js/ajax.js' %}" type="text/javascript"></script>
{% endblock %}