{% extends "roomsmanagement/base.html" %}

{% block content %}
    <div class="page-header">
    {% if request.session.ist_id %}
        <div class="container">
            <div class="col-md-4 content-center">
                <form class="form" method="get" action="{% url 'roomsmanagement:search' %}">
                    <div class="form-group">
                        <input name="room" type="text" value="" placeholder="Search room..." class="form-control" />
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Search"  class="btn btn-primary btn-round btn-lg btn-block" />
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="text-center">
                    <a href="{% url 'roomsmanagement:login' %}" class="btn btn-primary btn-round btn-lg btn-block">Login using Fenix</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}