{% extends "roomsmanagement/base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        {% if room %}
        <h3 class="title">{{room.name}}</h3>
        <p class="category">Logged users</p>
        <table class="table" id='users'>
            <tbody>
            {% for user in room.logged_users %}
            <div class="room">
                <tr>
                    <td>
                        <h6>{{ user }}</h6>
                    </td>
                </tr>
            </div>
            {% endfor %}
            </tbody>
        </table> 
        <p class="category">Messages</p> 
        <table class="table" id='messages'>
            <tbody>    
            {% for message in room.messages %}
            <div class="message">
                <tr>
                    <td>
                        <h6>{{ message.timestamp }}</h6>
                    </td>
                    <td>
                        <h6>{{ message.content }}</h6>
                    </td>
                </tr>
            </div>
            {% endfor %}
            </tbody>
        </table>

        <p class="category">Check-out</p> 
        <form class="form" method="post" action="{% url 'roomsmanagement:checkout' %}">
            {% csrf_token %}
            <input type="submit" value="Check-out" class="btn btn-primary btn-round btn-lg" />
        </form>
        {% else %}
        <h3 class="title">No room was provided.</h3>
        {% endif %}
    </div>
</div>

{% endblock %}