<!DOCTYPE html>
<html>
<body>

{% if form%}
    <form action="/search/" method='post'>
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Search"/>
    </form>
{% else %}
    {% if rooms %}
        <table>
            <tr>
                <th>Room name</th>
                <th>Check in</th> 
            </tr>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td><a href="/checkin/{{ room.id }}">Check-in</a></td> 
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No rooms are available.</p>
    {% endif %}
{% endif %}

</body>
</html>