{% extends "roomsmanagement/base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        {% if rooms %}
        <h3 class="title">Rooms available</h3>
        <p class="category">Search term: {{ request.GET.room }}</p>
        <table class="table">
            <tbody>
            {% for room_id, room_info in rooms.items %}
            <div class="room">
                <tr>
                    <td>
                        <a href="#"><h6>{{room_info.name}}</h6></a>
                        <p> {{ room_info.parents|join:" > " }} </p>
                    </td>
                    <td>
                        {% if request.session.ist_id %}
                            <form class="form" method="post" action="{% url 'checkin' %}">
                                {% csrf_token %}
                                <input name="room" type="hidden" value={{ room_id }}  />
                                <input type="submit" value="Check-in" class="btn btn-primary btn-simple btn-lg" />
                            </form>
                        {% endif %}
                    </td>
                </tr>
            </div>
            {% endfor %}
            </tbody>
        </table> 
        {% else %}
        <h3 class="title">No rooms were found.</h3>
        <p class="category">Search term: {{ request.GET.room }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}